In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-09-27 05:00:46,-53.1500,-70.9167,37.11,92,100,15.10
1,1,Richards Bay,ZA,2021-09-27 05:02:20,-28.7830,32.0377,69.19,81,17,12.24
2,2,Saint Joseph,US,2021-09-27 04:57:34,39.7686,-94.8466,79.52,44,0,18.92
3,3,Nivala,FI,2021-09-27 05:02:20,63.9167,24.9667,39.69,87,27,5.08
4,4,Saint-Philippe,RE,2021-09-27 05:02:20,-21.3585,55.7679,75.22,87,79,14.97

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Saint Joseph,US,2021-09-27 04:57:34,39.7686,-94.8466,79.52,44,0,18.92
4,4,Saint-Philippe,RE,2021-09-27 05:02:20,-21.3585,55.7679,75.22,87,79,14.97
9,9,Kahului,US,2021-09-27 05:02:22,20.8947,-156.4700,78.84,92,34,15.01
15,15,Bambous Virieux,MU,2021-09-27 05:02:22,-20.3428,57.7575,75.22,71,72,19.08
27,27,Georgetown,MY,2021-09-27 05:02:25,5.4112,100.3354,85.95,70,20,5.75
30,30,Cayenne,GF,2021-09-27 05:00:07,4.9333,-52.3333,82.09,81,44,0.00
33,33,Naze,JP,2021-09-27 05:02:26,28.3667,129.4833,79.41,74,43,16.22
43,43,Zhicheng,CN,2021-09-27 05:02:27,30.2956,111.5047,84.58,56,26,7.56
50,50,Lindi,TZ,2021-09-27 05:02:28,-10.0000,39.7167,76.30,73,16,3.38
54,54,Atuona,PF,2021-09-27 05:02:29,-9.8000,-139.0333,78.10,72,6,19.73

In [11]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2      Saint Joseph      US     79.52  39.7686  -94.8466
4    Saint-Philippe      RE     75.22 -21.3585   55.7679
9           Kahului      US     78.84  20.8947 -156.4700
15  Bambous Virieux      MU     75.22 -20.3428   57.7575
27       Georgetown      MY     85.95   5.4112  100.3354
30          Cayenne      GF     82.09   4.9333  -52.3333
33             Naze      JP     79.41  28.3667  129.4833
43         Zhicheng      CN     84.58  30.2956  111.5047
50            Lindi      TZ     76.30 -10.0000   39.7167
54           Atuona      PF     78.10  -9.8000 -139.0333

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint Joseph,US,79.52,39.7686,-94.8466,Whiskey Mansion Inn
4,Saint-Philippe,RE,75.22,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Kahului,US,78.84,20.8947,-156.4700,Maui Seaside Hotel
15,Bambous Virieux,MU,75.22,-20.3428,57.7575,Casa Tia Villa
27,Georgetown,MY,85.95,5.4112,100.3354,Cititel Penang
30,Cayenne,GF,82.09,4.9333,-52.3333,Hôtel Le Dronmi
33,Naze,JP,79.41,28.3667,129.4833,オーベルジュ・アガルイ
43,Zhicheng,CN,84.58,30.2956,111.5047,Wangjiang Building
50,Lindi,TZ,76.30,-10.0000,39.7167,Lindi paradise house
54,Atuona,PF,78.10,-9.8000,-139.0333,Villa Enata

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]